/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * DuckSoupTheRestaurantGame implementation : @ RJ Hidson <rhidson1@nait.ca>, @ Ashton Williams <ashtonw@nait.ca>, @ Rubelyn Ragasa <rragasa1@nait.ca>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * ducksouptherestaurantgame.css
 *
 * DuckSoupTheRestaurantGame stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (ducksouptherestaurantgame_ducksouptherestaurantgame.tpl), and to HTML elements you create dynamically
    (in ducksouptherestaurantgame.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/
.* {
    margin:0;
    padding:0;
    box-sizing: border-box!important;
}

html {
    height: 100%;
    background: linear-gradient(#5c629b, #35346d);
    background-attachment: fixed;
    font-size: 16px; /* used for scaling using rem units */
}

body {
    height: 100%;
}

.container {
    background: linear-gradient(#5c629b, #35346d);
    background-attachment: fixed;
    background-size: contain;
    font-size: 16px; 
    margin:0;
    padding:0;
    box-sizing: border-box!important;
    height: 100%;
    width: 100%;
    position: relative;
}

.clearfix::after { 
    content:"";
    display:table;
    clear:both;
}

.left {
    float: left;
}

.right { 
    float: right;
}

.left-content {
    width: 50%;
    float: left;
    position: relative;
    padding: 2rem;
    box-sizing: border-box;
}

.right-content {
    width: 50%;
    float: right;
    position: relative;
    padding: 2rem;
    box-sizing: border-box;
}

#board-container {
    position: relative;
    width: 100%;
    height: auto;
}

#board {
    display: flex;
    width: 40vw;
    height: 40vw;
    background-image: url(img/board.jpg);
    background-size: 40vw 40vw;
    background-repeat: no-repeat;
    position: relative;
 }

 #inner-board {
    position: absolute;
    background-size: 20vw 20vw;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('img/inner-board.png');
 }

.board-contents.inactive, .inner-board.inactive { 
    display: none; 
}

.board-contents {
    width: 50%;
    height: auto;
    max-height: 45%;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
    color: #fff;
}

.board-contents h2{
    font-family: 'Limelight', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.board-contents p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.375rem;
    text-align: center;
}

.letter-buttons {
    margin-bottom: 1.875rem;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.letter-buttons button {
    background: #3e3f83;
    color: #fff;
    border-radius: 30px;
    height: 6rem;
    width: 7rem;
    padding: 0.938rem 1.875rem 0.75rem 1.875rem;
    border: 0px;
    margin: 10px 10px 10px 10px;
    font-family: 'Limelight', sans-serif;
    line-height: 1;
    font-size: 3.75rem;
    box-shadow: 0 10px 0 #2a2661;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.letter-buttons button:last-child{
    margin-right: 0;
}

.dice-buttons {
    margin-bottom: 2.5rem;
    display: flex; 
    margin: 1.625rem 3.625rem 2.625rem 4.625rem;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.dice-buttons button {
    background: #3e3f83;
    border-radius: 30px;
    height: 9rem;
    width: 30%;
    border: 0px;
    display: inline-block;
    margin-right: 0.625rem;
    box-shadow: 0 10px 0 #2a2661;
    font-size: 0;
    cursor: pointer;
    clear: left;
}

.dice-buttons button span {
    font-family: 'Arial Black', 'Arial Bold', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 2.25;
    font-size: 1.25rem;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 1.563rem 1.875rem 0.75rem 0.625rem;
    text-align: left; 
    float: left;
}

#staff-die {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
}

#staff-die span {
    order: 2; /* The text appears second */
    margin: 0rem 3rem 0rem 0rem;
    text-align: left; /* Align the text to the left */
}

#staff-die-image {
    height: 6rem;
    width: 6rem;
    padding: 1rem;
    margin: 1rem;
    background-image: URL('img/staff-die.png');
    background-size: cover; 
    background-position: center;
    margin-right: auto;
    order: 1;
}

#move-die {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
}

#move-die span {
    order: 2; /* The text appears second */
    text-align: left; /* Align the text to the left */
}

#move-die-image {
    height: 4rem;
    width: 9rem;
    padding: 1rem;
    margin: 1rem;
    background-image: URL('img/movement-dice.png');
    background-size: cover; 
    background-position: center;
    margin-right: auto;
    order: 1;
}

#staff-board {
    height: 27.2vw;
    width: 100%;
    background-image: URL('img/staff-board.jpg');
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 40vw 25vw;
    margin: 0rem 1rem 0rem -9rem;
}


.player-stats {
    position: relative;
    top: 1rem;
    padding-right: 11rem;
    z-index: 2;
    overflow: hidden;
}

.player-stats img {
    height: 3.74rem;
}

.player-header { 
    width: 110%;
    margin: 0rem 0rem 0rem -9rem;
    color: #fff;
    position: relative;
}

.name-plate {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px 5px 0px 0px;
}

.player1 {
    background: #ff0000;
}

.player2 {
    background: #ff0000;
}

.player3 {
    background: #ff0000;
}

.player4 {
    background: #ff0000;
}

.player-name {
    font-family: 'Arial Black', 'Arial Bold', 'Helvetica', sans-serif;
    text-transform: uppercase;
    padding: 2rem 1.25rem 2rem 3rem;
    border-radius: 10px 10px 0px 0px;
    font-size: 1.25rem;
    position: relative;
    margin: 0rem 0rem 1rem 0rem;
    width: 17%;
    height: 100%;
}

.super-duckat {
    padding-bottom: 10px;
}

#super-duckat-image {
    height: 3.87rem;
    width: 3.87rem;
    background-image: URL('img/super-duckats.png');
}

.duckat {
    padding-bottom: 10px;
    margin-left: 1rem;
}

#duckats-image {
    height: 3.87rem;
    width: 3.87rem;
    background-image: URL('img/duckats.png');
}

.staff-board-container {
    position: relative;
    margin: 1rem -6rem 1rem 12.5rem;
}


.value {
    background: #000;
    font-family: 'Arial Black', 'Arial Bold', 'Helvetica', sans-serif;
    border-radius:  30px 0px 0px 30px;
    padding: 0.5rem 1.875rem 0.5rem 1.25rem;
    margin-right: -1.25rem;
    margin-top: 0.625rem;
    font-size: 1.25rem;
}

.player-background {
    height: 3.188rem;
    width: 91%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 0px 10px 0px 0px;
    margin-top: -2.188rem;
    margin: -3.2rem 0rem 0rem 0rem;
    position: absolute;
}

#left-arrow { 
    left: 0;
}

#right-arrow {
    right: 0;
}

.arrow {
    background: #3e3f83;
    border-radius: 50%;
    padding: 1.875rem;
    border: 0px;
    display: inline-block;
    text-transform: uppercase;
    box-shadow: 0 8px 0 #2a2661;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% - 1.5vw);
    margin: 0rem 0rem 0rem -12.5rem;
    width: 3vw;
    cursor: pointer;
    z-index: 1;
}

.arrow span {
    width: 0;
    height: 0;
    top: 50%;
    border-top: 0.938rem solid transparent;
    border-bottom: 0.983rem solid transparent;
    position: relative;
    transform: translateY(-50%);
}

#right-arrow span {
    position: absolute;
    border-left: 0.938rem solid #fff;
    left: 1.563rem;
    z-index: 1;
    left: 50%;
}

#left-arrow span {
    position: absolute;
    border-right: 0.938rem solid #fff;
    right: 10%;
    left: 38%;
    z-index: 1;
}

/**/
/*CSS For staff card grid*/

.card-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    width: 36.6vw;
    height: 18.7vw;
    padding: 1.39vw 0vw 0vw 1.78vw;
  }
  
  .grid-item {
    background-color: transparent; /* Initial background if needed */
    position: relative; /* Positioning context for sprites */
  }
  
  @media (max-width: 768px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr); /* Adjusts to 2 columns for smaller screens */
      grid-template-rows: repeat(6, 1fr); /* Adjusts to 6 rows for smaller screens */
    }
  }

  /*Object insertion for each image after*/

  .grid-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

    /*Call `.hidden-content` to hide excellent staff on the staff card */

  .hidden-content {
    visibility: hidden;
  }
  
  #ex-chef::after {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: URL('img/ex-chef.jpg');
    height: 9.5vw;
    width: 5.15vw;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    grid-column: 1;
    grid-row: 1;
  }
  
  #ex-sous-chef::after {
    position: absolute;
    background-image: URL('img/ex-sous-chef.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 9.5vw;
    width: 5.15vw;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    grid-column: 2;
    grid-row: 1;

  }

  #ex-first-cook::after {
    position: absolute;
    background-position: -111px 0px 0px 0px;
    background-image: URL('img/ex-first-cook.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 9.5vw;
    width: 5.15vw;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    grid-column: 3;
    grid-row: 1;
  }

  #ex-cook-1::after {
    position: absolute;
    background-image: URL('img/ex-cook.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 9.5vw;
    width: 5.15vw;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    grid-column: 4;
    grid-row: 1;
  }

  #ex-cook-2::after {
    position: absolute;
    background-image: URL('img/ex-cook.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 9.5vw;
    width: 5.15vw;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    grid-column: 5;
    grid-row: 1;
  }

  #ex-cook-3::after {
    position: absolute;
    background-image: URL('img/ex-cook.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 9.5vw;
    width: 5.15vw;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    grid-column: 6;
    grid-row: 1;
}

  #ex-maitre-d::after {
    background-image: URL('img/ex-maitre-d.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 9.5vw;
    width: 5.15vw;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    grid-column: 1;
    grid-row: 2;
  }

  #ex-sommelier::after {
    background-image: URL('img/ex-sommelier.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 9.5vw;
    width: 5.15vw;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    grid-column: 2;
    grid-row: 2;
  }

  #ex-capitan::after {
    background-image: URL('img/ex-captain.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 9.5vw;
    width: 5.15vw;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    grid-column: 3;
    grid-row: 2;
  }

  #ex-server-1::after {
    background-image: URL('img/ex-server.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 9.5vw;
    width: 5.15vw;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    grid-column: 4;
    grid-row: 2;
  }

  #ex-server-2::after {
    background-image: URL('img/ex-server.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 9.5vw;
    width: 5.15vw;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    grid-column: 5;
    grid-row: 2;
  }
  
  #ex-server-3::after {
    background-image: URL('img/ex-server.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 9.5vw;
    width: 5.15vw;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    grid-column: 5;
    grid-row: 2;
  }

@media screen and (max-width: 1500px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 12px;
    }

    .duckat {
        margin-left: 0.5rem;
    }

    .value { 
        padding: 0.5rem 1.875rem 0.5rem 1rem;
    }
}

@media screen and (max-width: 1023px) {
    .left-content {
        width: 100%;
        float: left;
        position: relative;
        padding: 1.25rem;
        box-sizing: border-box;
    }
    
    .right-content {
        width: 100%;
        float: left;
        position: relative;
        padding: 1.25rem;
        box-sizing: border-box;
    
    }

}

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .dice-buttons img { 
        display: none; 
    }
    
    .dice-buttons button { 
        min-width: 35%;
        text-align: center;
    }

    .dice-buttons button span {
        text-align: center;
        padding: 1.563rem 1.875rem;
    }


}

@media screen and (max-width: 450px) {
    .player-name {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 6rem;
    }

    .player-stats {
        margin-top: -4rem;
        right: auto;
        padding-right: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
    }


}