/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * DuckSoupTheRestaurantGame implementation : @ RJ Hidson <rhidson1@nait.ca>, @ Ashton Williams <ashtonw@nait.ca>, @ Rubelyn Ragasa <rragasa1@nait.ca>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * ducksouptherestaurantgame.css
 *
 * DuckSoupTheRestaurantGame stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (ducksouptherestaurantgame_ducksouptherestaurantgame.tpl), and to HTML elements you create dynamically
    (in ducksouptherestaurantgame.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/
.* {
    margin:0;
    padding:0;
    box-sizing: border-box!important;
}

html {
    height: 100%;
    background: linear-gradient(#5c629b, #35346d);
    background-attachment: fixed;
    font-size: 16px; /* used for scaling using rem units */
}

body {
    height: 100%;
}

.clearfix::after { 
    content:"";
    display:table;
    clear:both;
}

#left-content {
    width: 50%;
    float: left;
    position: relative;
    padding: 1.25rem;
    box-sizing: border-box;
}

.left {
    float: left;
}

.right { 
    float: right;
}

.container { 
    width: 100%;
    height: 100%;
    clear: both;
}

.left-content {
    width: 50%;
    float: left;
    position: relative;
    padding: 4.25rem;
    box-sizing: border-box;
}

.right-content {
    width: 50%;
    float: right;
    position: relative;
    padding: 2.5rem 2.5rem 1.25rem 1.25rem;
    box-sizing: border-box;
}

#board-container {
    position: relative;
    width: 100%;
    height: auto;
}

#board {
    width: 850px;
    height: 850px;
    background-image: url('img/board.jpg');
    position: relative;
 }

 #inner-board {
    position: absolute;
    background-size: 425px 425px;
    height: 425px;
    width: 425px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('img/inner-board.png');
 }

.board-contents.inactive, .inner-board.inactive { 
    display: none; 
}

.board-contents {
    width: 50%;
    height: auto;
    max-height: 45%;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
    color: #fff;
}

.board-contents h2{
    font-family: 'Limelight', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.board-contents p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.375rem;
    text-align: center;
}

.letter-buttons {
    margin-bottom: 1.875rem;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.letter-buttons button {
    background: #3e3f83;
    color: #fff;
    border-radius: 30px;
    height: 6rem;
    width: 7rem;
    padding: 0.938rem 1.875rem 0.75rem 1.875rem;
    border: 0px;
    margin: 10px 10px 10px 10px;
    font-family: 'Limelight', sans-serif;
    line-height: 1;
    font-size: 3.75rem;
    box-shadow: 0 10px 0 #2a2661;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.letter-buttons button:last-child{
    margin-right: 0;
}

.dice-buttons {
    margin-bottom: 2.5rem;
    display: flex; 
    margin: 4.625rem 5.625rem 0.625rem 3.625rem;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.dice-buttons button {
background: #3e3f83;
border-radius: 30px;
height: 9rem;
border: 0px;
display: inline-block;
margin-right: 0.625rem;
box-shadow: 0 10px 0 #2a2661;
font-size: 0;
cursor: pointer;
clear: left;
}

.dice-buttons button span {
font-family: 'Arial Black', 'Arial Bold', sans-serif;
font-weight: bolder;
text-transform: uppercase;
line-height: 2.25;
font-size: 1.25rem;
color: #fff;
text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
padding: 1.563rem 1.875rem 0.75rem 0.625rem;
text-align: left; 
float: left;
}

#staff-die {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
}

#staff-die span {
    order: 2; /* The text appears second */
    margin: 0rem 4rem 0rem 0rem;
    text-align: left; /* Align the text to the left */
}

#staff-die-image {
    height: 6rem;
    width: 6rem;
    padding: 1rem;
    margin: 1rem;
    background-image: URL('img/staff-die.png');
    background-size: cover; 
    background-position: center;
    margin-right: auto;
    order: 1;
}